@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

html {
  font-size: 10px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-size: 1.6rem;
  align-items: center;
  &__item {
      color: white;
      margin-bottom: 2rem;
      margin-top: 1.5rem;
    &-header {
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: 1.4rem;
      display: inline-block;
      font-weight: 600;
      text-decoration: none;
      color: white;
      margin-bottom: 1rem;
     }
     &-content {
       display: none;
       &::after{
         content: '';
       }
    }
  }
  &__content {
    &-text {
      font-family: monospace;
      font-size: 1.4rem;
      color: #bbbbbb;
      margin: 1.2rem 0;
    }
  }
}
.active {
  display: block;
}
.footer__content-text:hover {
  color: #bb77ff;
}